In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn
from sklearn.preprocessing import StandardScaler
from matplotlib.pyplot import figure
from sklearn.model_selection import train_test_split
from tabulate import tabulate

In [2]:
#Reading csv file into a DataFrame
df = pd.read_csv("cleaned_data.csv")

In [3]:
df.head()

,optimus_id,age,party,ethnicity,income,cd,dma,vh14p,vh12g,vh12p,...,vh08p,vh06g,vh06p,vh04g,vh04p,vh02g,vh02p,vh00g,vh00p,g08_precinct_turnout
0,861681,69,2,1,3,4,1,0,0,0,...,0,1,0,1,0,1,0,1,0,0.56
1,1084850,20,4,1,0,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.84
2,644435,28,3,1,0,3,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0.49
3,57683,78,4,1,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.84
4,167371,68,1,1,0,4,1,0,0,0,...,1,1,1,1,1,1,1,1,1,0.71

In [4]:
df.shape

(49995, 23)

In [5]:
df['vh14p'].value_counts()

0    45621
1     4374
Name: vh14p, dtype: int64

In [6]:
df_0 = df[df['vh14p'] == 0][:5000]
df_1 = df[df['vh14p'] == 1][:5000]

In [7]:
df_0.vh14p.value_counts(), df_1.vh14p.value_counts()

(0    5000
 Name: vh14p, dtype: int64,
 1    4374
 Name: vh14p, dtype: int64)

In [8]:
data_mix = pd.concat([df_0, df_1])

In [9]:
data_mix

,optimus_id,age,party,ethnicity,income,cd,dma,vh14p,vh12g,vh12p,...,vh08p,vh06g,vh06p,vh04g,vh04p,vh02g,vh02p,vh00g,vh00p,g08_precinct_turnout
0,861681,69,2,1,3,4,1,0,0,0,...,0,1,0,1,0,1,0,1,0,0.56
1,1084850,20,4,1,0,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.84
2,644435,28,3,1,0,3,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0.49
3,57683,78,4,1,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.84
4,167371,68,1,1,0,4,1,0,0,0,...,1,1,1,1,1,1,1,1,1,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49968,996627,70,2,1,2,2,2,1,1,0,...,1,1,1,1,1,1,1,1,0,0.81
49969,490677,78,1,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.66
49980,1050393,72,2,1,0,2,2,1,1,1,...,1,1,0,1,0,0,0,1,0,0.66
49981,1090733,72,2,1,2,2,2,1,1,1,...,1,1,1,1,0,1,1,1,1,0.68
49986,971176,52,2,1,3,2,2,1,1,0,...,1,1,1,1,1,1,1,1,1,0.75

In [10]:
X = data_mix.drop("vh14p", axis = 1) #X = Independent variables
Y = data_mix["vh14p"] #Y = Depebndent variable

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(
    X,
    Y,
    test_size = 0.3,
    random_state = 34)

X_train.shape, X_test.shape

((6561, 22), (2813, 22))

## Model Predictions

### Logistic Regression

In [12]:
#Import the required modules

from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn import metrics
import pandas as pd

In [13]:
logistic_reg = LogisticRegression()

logistic_reg.fit(X_train, Y_train)

Y_pred_logistic = logistic_reg.predict(X_test)
Y_probab_logistic = logistic_reg.predict_proba(X_test)[:,0]

accuracy_train_logistic = logistic_reg.score(X_train, Y_train) * 100
accuracy_test_logistic = metrics.accuracy_score(Y_test, Y_pred_logistic) * 100

print('Train Accuracy for Logistic Regression = ', accuracy_train_logistic, '%')
print('Test Accuracy for Logistic Regression = ', accuracy_test_logistic, '%')

Train Accuracy for Logistic Regression =  55.60128029263832 %
Test Accuracy for Logistic Regression =  53.963739779594746 %

In [14]:
#To see all the unique values in the aray

rslt = np.unique(Y_pred_logistic)
 
print(rslt)

[0 1]

### KNN

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_selection import SelectKBest, chi2

In [16]:
knn = KNeighborsClassifier()

knn.fit(X_train, Y_train)

Y_pred_knn = knn.predict(X_test)
Y_probab_knn = knn.predict_proba(X_test)[:,0]

accuracy_train_knn = knn.score(X_train, Y_train) * 100
accuracy_test_knn = metrics.accuracy_score(Y_test, Y_pred_knn) * 100

print('Train Accuracy for KNN = ', accuracy_train_knn, '%')
print('Test Accuracy for KNN = ', accuracy_test_knn, '%')

Train Accuracy for KNN =  72.19935985368085 %
Test Accuracy for KNN =  57.90970494134376 %

In [17]:
#To see all the unique values in the aray

rslt = np.unique(Y_pred_knn)
 
print(rslt)

[0 1]

### SVM

In [18]:
from sklearn import svm

In [19]:
clf_svm = svm.SVC(kernel='rbf' ,probability=True)

clf_svm.fit(X_train, Y_train)

Y_pred_svm = clf_svm.predict(X_test)
Y_probab_svm = clf_svm.predict_proba(X_test)[:,0]

accuracy_train_svm = clf_svm.score(X_train, Y_train) * 100
accuracy_test_svm = metrics.accuracy_score(Y_test, Y_pred_svm) * 100

print('Train Accuracy for SVM = ', accuracy_train_svm, '%')
print('Test Accuracy for SVM = ', accuracy_test_svm, '%')

Train Accuracy for SVM =  55.90611187319007 %
Test Accuracy for SVM =  55.20796302879488 %

In [20]:
#To see all the unique values in the aray

rslt = np.unique(Y_pred_svm)
 
print(rslt)

[0 1]

### Decision Tree

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
clf_dc = DecisionTreeClassifier()

clf_dc.fit(X_train,Y_train)

Y_pred_dc = clf_dc.predict(X_test)
Y_probab_dc = clf_dc.predict_proba(X_test)[:,0]

accuracy_train_dc = clf_dc.score(X_train, Y_train) * 100
accuracy_test_dc = metrics.accuracy_score(Y_test, Y_pred_dc) * 100

print('Train Accuracy for Decision Tree = ', accuracy_train_dc, '%')
print('Test Accuracy for Decision Tree = ', accuracy_test_dc, '%')

Train Accuracy for Decision Tree =  100.0 %
Test Accuracy for Decision Tree =  82.50977603981514 %

In [23]:
#To see all the unique values in the aray

rslt = np.unique(Y_pred_dc)
 
print(rslt)

[0 1]

### Naive Bayes

In [24]:
from sklearn.naive_bayes import GaussianNB

In [25]:
clf_nb = GaussianNB()

clf_nb.fit(X_train,Y_train)

Y_pred_nb = clf_nb.predict(X_test)
Y_probab_nb = clf_nb.predict_proba(X_test)[:,0]

accuracy_train_nb = clf_nb.score(X_train, Y_train) * 100
accuracy_test_nb = metrics.accuracy_score(Y_test, Y_pred_nb) * 100

print('Train Accuracy for Naive Bayes = ', accuracy_train_nb, '%')
print('Test Accuracy for Naive Bayes = ', accuracy_test_nb, '%')

Train Accuracy for Naive Bayes =  69.80643194634965 %
Test Accuracy for Naive Bayes =  67.47244934233913 %

In [26]:
#To see all the unique values in the aray

rslt = np.unique(Y_pred_nb)
 
print(rslt)

[0 1]

In [27]:
Y_pred_nb

array([1, 0, 1, ..., 1, 0, 1])

In [28]:
Y_probab_nb

array([0.44917672, 0.84155723, 0.43502361, ..., 0.32354495, 0.89972558,
       0.26373874])

In [29]:
#Table of Train and Test accuracies for all the algorithms

table = [['Algorithm', 'Train Accuracy %', 'Test Accuracy %'], ['Logistic Regression', accuracy_train_logistic, accuracy_test_logistic], ['KNN', accuracy_train_knn, accuracy_test_knn], ['SVM', accuracy_train_svm, accuracy_test_svm], ['Decision Tree', accuracy_train_dc, accuracy_test_dc], ['Naive Bayes', accuracy_train_nb, accuracy_test_nb]]

print(tabulate(table, headers='firstrow'))

Algorithm              Train Accuracy %    Test Accuracy %
-------------------  ------------------  -----------------
Logistic Regression             55.6013            53.9637
KNN                             72.1994            57.9097
SVM                             55.9061            55.208
Decision Tree                  100                 82.5098
Naive Bayes                     69.8064            67.4724

In [30]:
#Saving it in a pkl file
import pickle
with open('additional_model.pkl','wb') as f:
    pickle.dump(clf_nb, f) #Using Naive Bayes as it gave more accurate results

In [31]:
with open('model.pkl', 'rb') as f:
    clf2 = pickle.load(f)

In [32]:
#Performing prediction on the X DataFrame (X = X_train + X_test)

Y_pred_new = clf2.predict(X)

In [33]:
#Computing predict probability on the X DataFrame (X = X_train + X_test)

Y_probab_new = clf2.predict_proba(X)[:,0]

In [36]:
df_new = data_mix.copy()

In [37]:
#Appending the 'vote' and 'vote_prob' to the cleaned DataFrame

df_new['vote'] = Y_pred_new
df_new['vote_prob'] = Y_probab_new

In [38]:
df_new.vote.value_counts()
#We have now got a better ratio but it is still unbalanced

0    8953
1     421
Name: vote, dtype: int64

In [39]:
#Saving the DataFrame as a csv

df_new.to_csv('additional_work.csv', index=False)